.notification-enter-active, .notification-leave-active
  transform scale(1)
  transition all .5s
  opacity 1

.notification-enter, .notification-leave-to
  transform scale(0.8)
  opacity 0

.notification-move
  transition transform .5s