.color-worker
  height 52px
  border 2px solid transparent
  padding: 0 4px
  transition .5s height, .2s border
  border-radius 8px
  background-color var(--v-bg-darken1)
  position relative
  &.drop--empty
    height 0px
    background-color transparent
    &.drop--active
      height 52px
  &.drop--active
    border-color rgba(255, 255, 255, .2)
  &.drop--focus
    overflow hidden
    transition .3s height, .2s border
    height 52px
    
.color-worker-wrapper
  top 0
  left 0
  margin 0
  width 100%
  height 100%
  display flex
  opacity 0.8
  align-items center
  justify-content center
  position absolute
  font-size 0.925rem
  text-align center
  line-height 25px
  background rgba(255, 255, 255, .1)

