.color-worker
  height 0px
  border 2px solid transparent
  transition .5s height, .2s border
  border-radius 8px
  &.drop--active
    height 30px
    border-color rgba(255, 255, 255, .2)
    
.color-worker-wrapper-title
  font-size 0.925rem
  text-align center
  line-height 25px
  opacity 0.8