.text-editor
  max-height 25vh
  padding 0px
  overflow scroll

.text-editor-header
  padding 6px 12px
  border-bottom 1px solid rgba(0, 0, 0, .3)
  display flex
  align-items center
  &.text-editor-header--updated
    &::after
      content ''
      display block
      width 5px
      height 5px
      border-radius 50%
      margin-left: 5px
      background var(--v-primary-base)

.text-editor-body
  .line
    display flex
  .line-margin
    min-width 40px
    max-width 40px
    opacity .4
    text-align end
    padding 2px 8px
    margin-right 6px
  .line-word-wrapper
    display inline-block
  .line-word-color
    display inline-block
    padding 2px
    border-radius 5px
  .line-word-color--active
    border 2px dashed var(--v-primary-lighten4)
  .line-body
    padding: 2px 0
    white-space nowrap