.text-editor
  max-height 25vh
  padding 0px
  overflow scroll

.text-editor-header
  padding 6px 12px
  border-bottom: 1px solid rgba(0, 0, 0, .3)

.text-editor-body
  .line
    display flex
  .line-margin
    min-width 40px
    max-width 40px
    opacity .4
    text-align end
    padding 0 8px 0 8px
    margin-right 6px
  .line-body
    white-space nowrap