.v-application
  .title
    font-weight 400!important
  a
    color var(--v-fg-base)

.theme--dark.v-color-picker .v-color-picker__input input
  color rgba(255, 255, 255, 0.77)

.theme--dark.v-sheet
  background-color var(--v-bg-darken2)

.v-btn:not(.v-btn--outlined).primary
  color var(--v-bg-base)