@import 'init.styl'
@import 'custom.styl'
@import 'atom.styl'
@import 'theme.styl'
@import 'animation.styl'
@import 'components/index.styl'

.edit-file
  width 55vmin
  height 100%

.color-block
  display flex
  align-items center
  justify-content center
  width 40px
  height 40px
  min-width 40px
  min-height 40px
  margin-right 5px
  border-radius 10px

.hide-input
  position absolute 
  top -9999px
  left -9999px